{%- liquid
  assign img_sizes = sizes | default: '100vw'
  assign img_width = width | default: 1200
  assign img_lazy = lazy | default: true
  if priority
    assign img_lazy = false
  endif
  assign img_class = class | default: ''
  assign img_alt = alt | default: ''
  assign srcset_widths = '375,640,768,1024,1200,1600' | split: ','
-%}

{%- if image != blank -%}
  {%- liquid
    assign img_height = height | default: image.height
  -%}
  {%- capture filtered_srcset -%}
    {%- assign srcset_first = true -%}
    {%- for w in srcset_widths -%}
      {%- assign w_num = w | plus: 0 -%}
      {%- if w_num <= image.width -%}
        {%- unless srcset_first -%}, {% endunless -%}
        {{- image | image_url: width: w }} {{ w }}w
        {%- assign srcset_first = false -%}
      {%- endif -%}
    {%- endfor -%}
  {%- endcapture -%}
  <img
    src="{{ image | image_url: width: img_width }}"
    srcset="{{ filtered_srcset }}"
    sizes="{{ img_sizes }}"
    width="{{ image.width }}"
    height="{{ image.height }}"
    alt="{{ img_alt | escape }}"
    {%- if img_class != '' %} class="{{ img_class }}"{% endif %}
    {%- if img_lazy %} loading="lazy" decoding="async"{% endif %}
    {%- if priority %} fetchpriority="high"{% endif %}
  >
{%- else -%}
  <div class="bg-secondary {{ img_class }}" style="aspect-ratio: 1/1;"></div>
{%- endif -%}
